@model IEnumerable<ViewModel.ListCadetesVM>

@foreach (var item in Model)
{
    <ul>
        <li>Id: @item.Id</li>
        <li>Nombre: @item.Name</li>
        <li>Direccón: @item.Address</li>
        <li>Tel: @item.Phone</li>
        <a asp-action="BorrarCadete" asp-route-id="@item.Id">Borrar</a>
        <a asp-action="EditCadete" asp-route-id="@item.Id">Editar</a>
    </ul>
    <br>
    <hr>
}